.sticky-toolbar {
    z-index: 9;
    background: #dfdfdf;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
}

.sticky-toolbar li {
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
}

.sticky-toolbar-setting-image {
    z-index: 9999;
    background: #007bff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    transition: all 600ms;
    height: 34px;
}

.sticky-toolbar-setting-image li {
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
}

.edit-section {
    transition: all 600ms;
}

/* .edit-section:hover{
    border: 2px solid red;
} */
.sticky-toolbar-setting-session {
    z-index: 9;
    background: #007bff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    transition: all 600ms;
    height: 34px;
}
.list-product-ajax .card{
    border-radius: .5rem;
    border-width: 0;border-style: solid;
    border-color: #e2e8f0;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
}
.list-product-ajax .card img{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    max-height: 12em;
    min-height:12em;
    object-fit: cover;
    overflow: hidden;
}
.list-product-ajax .card .name-card-title{
    color: #4a5568;
    font-size: .9rem;
    line-height: 1.8;
    font-weight: 500;
    white-space: normal;
    float: left;
    display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height:45px;
    width: 100%;
}
.list-product-ajax .card .name-card-price{
    color: #1a202c;
    display: inline-block;
}
.list-product-ajax .card .is-check-product ,.list-product-ajax .card .form-check-label , .list-product-ajax .card .card-footer{
    cursor:pointer;
}

.list-product-ajax .remove-product{
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 9;
    background: #ec2d2d;
    color: #fff;
    padding: 6px 6px 0px;
    border-radius: 5px;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    cursor: pointer;

}
