#tool-manage-products-tmpl{
    position: absolute;
    opacity: 1;
}

#tool-manage-products-tmpl .btn-show-manage-products{
    min-width: 32px;
    cursor: pointer;
    color: #2d4150;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 7px 0 0;
    padding: 0px 10px;
    font-size: 14px;
    list-style: none;
    vertical-align: top;
    box-sizing: border-box;
    height: 32px;
    border: 0px;
    background: linear-gradient(180deg,#fff 0,#eee);
    box-shadow: 0 2px 6px 0 rgba(22,45,61,.55);
    border-radius: 16px;
    outline: none;
}
#show-modal-list-product-table{
    font-size: 1rem;
}
@media(min-width: 999px){
    #show-modal-list-product-table .modal-lg.modal-lg-custom{
        min-width: 98%;
        margin: 2% 2% 0 2%;
    }
}

#data-table-product .image-product{
    width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #03bef7;
}

#show-modal-list-product-table .modal-header{
    background-color: #3899ec;
    color: #fff;
}
#show-modal-list-product-table .modal-header button{
    color: #fff;
}
#show-modal-list-product-table .modal-body{
    background-color: #f0f4f7;
}
#show-modal-list-product-table table{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
#show-modal-list-product-table table input.check-product {
    width: 18px;
    height: 18px;
}
#show-modal-list-product-table .table td, #show-modal-list-product-table .table th {
    border-top: 0px solid #fff; 
    border-bottom: 1px solid #0080ff2a;
    vertical-align: baseline;
    
}
#show-modal-list-product-table .table th {
    padding-top: 20px;
    background-color: #eaeaea;
}
#show-modal-list-product-table .table tbody{
    transition: all 300ms ;
}
#show-modal-list-product-table .table tbody tr:hover {
    background: #daeffe;
}
#show-modal-list-product-table .modal-content{
    border-radius: 10px;
    border-color: rgb(204, 214, 221);
}
#show-modal-list-product-table  .dataTables_pager{
    display: flex;
    justify-content: space-between;
}

#show-modal-list-product-table .form-control-border-shadow {
    border-color: #e2e2e2;
    border: 0px solid;
    box-shadow: 0 2px 6px 0 rgba(22,40,61,.25);
    border-radius: 16px;
    min-height: 38px;
}
#show-modal-list-product-table .btn-control-purple {
    background: #b13dac;
    color: #fff;
}
#show-modal-list-product-table .btn-control-sky {
    background: #3899ec;
    color: #fff;
}
#show-modal-list-product-table .btn-control-yellow{
    background: #ffca2c;
    color: rgb(7, 7, 7);
    
}
#show-modal-list-product-table .custom-data-tables-bottom{
    margin-top: 1rem;
}