@media only screen and (max-width: 767px) {
    .list-social-mobile {
        justify-content: center;
    }

    .li-list-socail {
        margin: 0 15px;
    }

    .title-mobile {
        margin-bottom: 15px;
    }

    .form-margin-mobile {
        margin: 0 auto;
    }

    .footer-inner-mobile {
        padding: 0 !important;
        margin-bottom: 22px !important;
    }

    .list-page-mobile {
        line-height: 1.5;
    }

    .box-frame__image-full {
        background-color: black;
        background-image: none;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mobile-fix {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mobile-fix {
        position: unset !important;
        width: 100%;
    }
}


.img-login {
    width: 24px;
}

.popup-add {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.75);
}

/* Inner */
.popup-inner {
    max-width: 500px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}

/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
    color: #d53138;
}

.popup-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    padding: 0 1em 0 0;
}

.popup-scroll::-webkit-scrollbar {
    background-color: #EEE;
    width: 10px;
}

.popup-scroll::-webkit-scrollbar-thumb {
    border: 1px #EEE solid;
    border-radius: 2px;
    background: #777;
    -webkit-box-shadow: 0 0 8px #555 inset;
    box-shadow: 0 0 8px #555 inset;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.popup-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}

.anh-btn {
    background: -webkit-gradient(linear, left top, right top, from(#ed5441), to(#d53138));
    background: -webkit-linear-gradient(left, #ed5441 0%, #d53138 100%);
    background: -o-linear-gradient(left, #ed5441 0%, #d53138 100%);
    background: linear-gradient(to right, #ed5441 0%, #d53138 100%);
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    border: 1px solid transparent;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    position: relative;
    font-family: 'AvantGarde-Demi';
}

.anh-btn:hover {
    -webkit-transform: translateY(calc(-8% - 5px));
    -ms-transform: translateY(calc(-8% - 5px));
    transform: translateY(calc(-8% - 5px));

}

.title-group {
    color: #222222;
    position: relative;
    font-weight: 400;
    padding: 0;
    line-height: 1.5;
    font-family: 'AvantGarde-Demi';
}

.title-fix {
    line-height: 1.5;
}

.custom-title {
    color: #ed5441;
}

.custom-drop {
    background: transparent;
    color: #fff;
}

.custom-drop:hover {
    border: none;
}

.drop-menu {
    background: transparent !important;
    transition: all 0.3s;
}

.drop-menu a {
    color: #fff;
}

.drop-menu .img-login {
    margin-right: 8px;
}

.error-mount,
.error-ticket {
    display: none;
}
