@media screen and (max-width: 1679px) {

	body { font-size: 14px; }
	.container { max-width: 1140px; }
  h1.title, h2.title { font-size: 32px; margin-bottom: 20px; padding-bottom: 20px;}

  /*Button*/
  .button { font-size: 16px; min-width: 118px; padding: 8px 15px;}
  .btn-play-i { width: 40px; height: 40px; padding: 3px; }

  /*Form*/
  .form__register-label { font-size: 16px; }
  .form__register .wrap-form { padding: 4px; }

  /*Navigation*/
  .navbar-nav .nav-item .nav-link { font-size: 16px; }
  .navbar-nav .nav-item { padding-right: 50px; }
  header { padding: 15px 25px; }

  /*Footer*/
  .footer__inner-item .list-page a { font-size: 16px; }
  .footer__inner-item .form__register { min-width: unset; }
  .footer__inner-item .list-page a { font-size: 14px }
  .footer__inner-right .contact { margin-bottom: 10px; }
  .footer__inner-item h4.title { font-size: 13px; }
  .form__register .wrap-form .form-group input { padding-left: 15px; }
  .footer__inner-item .form__register .wrap-form .button { padding: 5px 20px; }
  .footer__inner-item .list-social li a { width: 30px; height: 30px; }
	
  /*Page 404*/
  .page_404 .page_404_title { font-size: 150px; margin-top: 80px;}
  .page_404 .sub_title { font-size: 27px; margin-bottom: 35px; }

  /*Page Maintance*/
  .page_maintenance__inner { padding-top: 100px; }
  .page_maintenance .title { font-size: 45px; }
  .page_maintenance .sub_title { font-size: 24px; }
  .page_maintenance .wrap-img { bottom: 0; }

  /*Page Countdown*/
  .page_countdown { padding-top: 80px; }
  .page_countdown__inner .title { font-size: 65px; margin: 20px 0; }
  .page_countdown__inner .sub_title { font-size: 24px; }
  .page_countdown__inner .coundown-timer .single-counter span:first-of-type { font-size: 32px; width: 60px; height: 60px;}
  .page_countdown__inner .coundown-timer { margin-top: 45px; }

  /*HomePage*/
  /*Size 55-> 32px;*/
  .background-image__inner-top .top-l .des { font-size: 16px; }
  .list-jackpost { margin-right: calc( 1110px - 100vw); margin-left: 50px; }
  .list-jackpost__item .item-inner .lottery { font-size: 14px; }
  .list-jackpost__item .item-inner .title { font-size: 16px; }
  .list-jackpost__item .item-inner .eth { font-size: 32px; }
  .list-jackpost__item .item-inner .price { font-size: 20px; }
  .list-jackpost__item .item-inner .countdown { font-size: 14px; }
  .list-jackpost__item { padding: 0 20px; }
  .list-jackpost__item .item-inner .ball-1 img { width: 55px; }
  .list-jackpost__item .item-inner .ball-2 img { width: 50px; }
  .list-jackpost__item .item-inner .ball-2 { right: -10px; }
  .list-jackpost__item .item-inner .btn-play { padding: 10px 18px; font-size: 16px;}
  .list-jackpost__item .item-inner { padding: 10px 20px 35px 20px;  }
  .background-image__inner-top { padding-bottom: 50px; }
  .background-image__inner { padding-top: 14vh; }
  .background-image__inner-top .top-l .des { margin-bottom: 20px; }

  /*Affiliate*/
  .affiliate-program__inner-left .wrap-img { margin-right: unset; margin-left: -100px}
  .affiliate-program__inner-right .title { margin-bottom: 20px; }
  .affiliate-program__inner-right .des { font-size: 16px; margin-bottom: 20px; }
  .affiliate-program__inner-right { font-size: 14px; }
  .affiliate-program__inner-right ul li { margin-bottom: 10px; }
  .affiliate-program__inner-right ul { padding: 20px; }
  .affiliate-program { padding: 16vh 0; }

  .how-work__inner-left h2.title { margin-bottom: 30px; }

  .management__inner h2.title { margin-bottom: 55px; }
  .management__inner .content { font-size: 16px; float: unset; width: 100%; position: relative;}
  .management { padding: 15vh 0; }
  .management__diagram .diagram-inner .title { font-size: 16px; }
  .management__diagram .diagram-inner { padding: 10px}
  .management__diagram .diagram-main .diagram-inner .title { font-size: 24px; }
  .management__diagram { width: 100%; margin-top: 70px; }
  .management__diagram .diagram.diagram-3 .info, .management__diagram .diagram.diagram-4 .info { width: 150px; }


  /*Top*/
  .top-general__inner-left { width: 100%; margin-bottom: 70px;}
  .top-general__inner-right { width: 100%; }
  .top-general__inner-left .des { font-size: 16px; margin-bottom: 20px; }
  .top-general__inner-left .list-info { font-size: 18px; }
  .top-general__inner-left .list-info__item { margin-bottom: 10px; }
  .top-general { padding-bottom: 50px; }


  /*Term*/
  .block-general { padding-bottom: 30px; }
  .block-general .des { font-size: 16px; }
  .block-general .content { margin-top: 30px; font-size: 14px; padding: 25px 20px; }
  .block-general .content { max-height:  37vh;}

  /*Road map*/
  .road-map__slider { margin-top: 30px; }
  .road-map__slider-item .inner .wrap-info .time { font-size: 18px; }
  .road-map__slider-item .inner .wrap-info .name { font-size: 18px; margin: 15px 0; }
  .road-map__slider-item .inner .wrap-info .des { font-size: 14px; }
  .road-map__slider-item .inner .wrap-info { padding-left: 30px; }
  .road-map__time { margin: auto; margin-top: 30px; }
  .road-map__time-item .inner { font-size: 16px }
  .road-map__time-item.slick-current.slick-active .inner { font-size: 24px; }
  .road-map__time-item.slick-current.slick-active .inner:before { bottom: -11px; }


  /*How to play*/
  .how-play { height: unset; }
  .how-play__inner-left { width: 100%; position: relative; z-index: 1;}
  .how-play__inner-right { width: 100%; position: absolute; opacity: 0.6; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .how-play__inner {position: relative;}
  .how-play__inner-right .wrap-image { text-align: center; }
  .how-play .des { font-size: 16px; margin-bottom: 20px; }
  #accordion-howplay .play-item .item-header .link { font-size: 16px; }
  #accordion-howplay .play-item .item-header .link img { width: 30px; margin-right: 10px; }
  #accordion-howplay .play-item .content { margin-top: 15px; font-size: 13px; }
  #accordion-howplay .play-item { padding: 12px 20px; }


  /*Play lotto page*/
  .lotto-play { padding-bottom: 50px; }
  .lotto-play .title { font-size: 30px; margin-bottom: 20px;}
  .lotto-play .des { font-size: 16px; margin-bottom: 30px; }
  .lotto-play .add-ticket.custom-btn-1 { font-size: 14px; }
  .group-ticket .button-arrowr-ticket { width: 40px; }
  .group-ticket .list-ticket__item .heading-group .name { font-size: 18px; }
  .list-ball-buy { padding-left:unset; }
  .list-ball-buy__item .ball { width: 55px; }
  .list-ball-buy:before { left: 0; right: 0; bottom: 5px; height: 40px;}
  .list-ball-buy__item .count { font-size: 24px; }
  .lotto-play__inner-right .info .date { font-size: 18px; }
  .lotto-play__inner { align-items: flex-end; }
  .lotto-play__inner-right .info .price { font-size: 20px; margin: 8px 0; }
  .lotto-play__inner-right .info .group-button .des_bt { font-size: 16px; }


  /*Payment*/
  .transfer-address .title { font-size: 30px; margin-bottom: 20px; }
  .transfer-address .des { font-size: 16px; }
  .transfer-address__info { padding-left: 0; }
  .transfer-address__info-left .list-tab__item a { font-size: 16px; }
  .transfer-address__info-left .list-tab__item a .wrap-img { width: 40px; margin-right: 15px; }
  .transfer-address__info-right .list-content__item-top ul li { font-size: 16px; }
  .transfer-address__info-right .list-content__item-top ul li { padding: 15px 15px 15px 25px; }
  .transfer-address__info-right .list-content__item-button { margin-top: 30px; }
  .transfer-address__info { padding-right: unset; }


  /*Ticket*/
  .myticket .title { font-size: 30px; margin-bottom: 20px; }
  .myticket .des { font-size: 16px; }
  .myticket__inner { margin-top: 20px; }
  .myticket__inner-right { padding-right: unset; }
  .myticket { overflow: auto; }
  .myticket__inner-left .list-ticket__info-item { margin-bottom: 15px; }
  .myticket__inner-left .list-ticket__info { font-size: 16px; margin-top: 35px; }
  .myticket__inner-right .list-ticket-play__item .ball .wrap-img:nth-child(2) { width: 40px; }
  .myticket__inner-right .list-ticket-play__item .ball .wrap-img:first-child { width: 47px; left: 15px; bottom: 10px; }
  .myticket__inner-right .list-ticket-play__item .info { padding-left: 25px; }
  .myticket__inner-right .list-ticket-play__item { padding: 10px 15px; }
  .myticket__inner-right .list-ticket-play__item .price-total { font-size: 16px; }
  .myticket__inner-right .list-ticket-play__item .info__number ul { font-size: 18px; }
  .myticket__inner-right .list-ticket-play { min-width: unset; }

  /*Profit*/
  .percent-profit { padding-bottom: 40px; }
  .percent-profit .des { font-size: 16px; }
  #chart-container-left, #chart-container-right { width: 440px !important; height: 220px !important; }
  .percent-profit .group-chart .info  { max-width: 440px; margin-top: 20px; font-size: 16px; }
  .percent-profit .group-chart { margin-top: 40px; }

  /*Token*/
  .token { height: unset; padding-bottom: 0;}
  .token__inner-right .group-chart__item .logo { width: 70px; }
  .token__inner-left .list-intro { font-size: 16px; margin-top: 30px; }
  .token__inner-left .token-info { margin-top: 40px; }
  .token__inner-left .token-info .top { font-size: 27px; }
  .token__inner-left .token-info .bottom .sub-b { font-size: 22px; }
  .token__inner-left { padding-right: 50px; }
  .token__inner-right .des { font-size: 15px; margin-top: 40px; }
  .token__inner-left .token-info .change-unit { font-size: 27px; margin-top: 20px; margin-bottom: 30px; }


}


@media screen and (max-width: 1199px){ /* 1024 *660 */

	.container { max-width: 960px;}
  h1.title, h2.title { font-size: 24px; padding-bottom: 15px; margin-bottom: 15px;}

  
  /*Button*/
  .button { font-size: 14px; }

  /*Footer*/
  .footer__inner-list { flex-wrap: wrap; }
  .footer__inner-item:first-child { width: 40% }
  .footer__inner-item:last-child { width: 100%; margin-top: 10px;}
  .footer__inner-item .list-page { margin-top: 10px; }
  .footer__inner-item .list-social { margin-top: 5px; }
  .footer__inner-item .form__register { margin-top: 5px; }
  .footer__inner-left { width: 70%; }
  .footer__inner { align-items: flex-end; }
  .footer__inner-item .list-page a{ font-size: 13px; }
  .footer__inner-item:nth-child(2) { padding-right: unset; }

  /*Page MAintenance*/
  .page_maintenance .title { font-size: 32px; margin: 20px 0; }
  .page_maintenance .sub_title { font-size: 18px; }

  /*Countdown page*/
  .page_countdown__inner .content .left { width: 100%; position: absolute; opacity: 0.3; left: 50%; transform: translateX(-50%);}
  .page_countdown__inner .content .right { width: 100%; z-index: 2; position: relative; }
  .page_countdown { padding-top: 0; }
  .page_countdown__inner { display: flex; align-items: center; justify-content: center; }
  .page_countdown__inner .title { font-size: 42px; }

  /*HomePage*/
  .background-image__inner-top .top-l .des { font-size: 14px; margin-bottom: 15px; }
  .background-image__inner-top .top-l { padding-right: 0; }
  .btn-play-i { width: 35px; height: 35px; }
  .btn-play-i img { width: 15px; }
  .background-image__inner-top .top-l .group-button a { margin-right: 10px }
  .background-image__inner-top { padding-bottom: 30px; }
  .list-jackpost__item .item-inner .title { font-size: 14px; margin: 10px 0; }
  .list-jackpost__item .item-inner .eth { font-size: 27px; }
  .list-jackpost__item .item-inner .eth { font-size: 16px; }
  .list-jackpost { margin-right: calc( 930px - 100vw) }
  .list-jackpost__item .item-inner .btn-play { font-size: 14px; }
  .list-jackpost__item { padding: 0 10px; }
  .list-jackpost__item .item-inner:before { left: -3px; right: -3px; }
  .list-jackpost__item .item-inner:after { top: -3px; bottom: -3px; }
  .list-jackpost__item .item-inner .ball-1 img { width: 45px; }
  .list-jackpost__item .item-inner .ball-2 img { width: 40px; }
  .list-jackpost__item .item-inner .ball-1 { right: 20px; }
  .list-jackpost__item .item-inner { padding: 10px 15px 30px 15px }
	
  /*Top Player*/
  .top-general__inner-left .des { font-size: 14px; margin-bottom: 15px;}
  .top-general__inner-left .list-info { font-size: 16px; }
  .top-general__inner-right .list-table-info__item {padding: 0 15px; }
  .top-general__inner-right .list-table-info { margin: 0 -15px; }
  .top-general__inner-right .list-table-info__item .result { font-size: 16px; }
  .top-general__inner-right .list-table-info__item .result span { font-size: 20px; }



  /*Term*/
  .block-general .des { font-size: 14px; }
  .block-general .content { margin-top: 20px; }
  .block-general .content { font-size: 13px; }
  .block-general { overflow: auto; }

  /*RodaMap*/
  .road-map { overflow: auto; }
  .road-map__slider-item .inner .wrap-info .name { font-size: 14px; margin: 8px 0; }
  .road-map__slider-item .inner .wrap-info .des { font-size: 13px; }
  .road-map__slider-item .inner .wrap-info .time { font-size: 16px; }
  .road-map__time-item.slick-current.slick-active .inner { font-size: 18px; }
  .road-map__time-item { padding-top: 13px; }


  /*Howtouse*/
  .how-play .des { font-size: 14px; margin-bottom: 10px; }
  #accordion-howplay .play-item .item-header .link { font-size: 14px; }
  #accordion-howplay .play-item { margin-bottom: 12px; }
  #accordion-howplay .play-item .item-header .link img { width: 20px; }


  /*Play lotto page*/
  .group-ticket .list-ticket__item { padding: 0 8px; }
  .group-ticket { margin-right: 20px; }
  .group-ticket .button-arrowr-ticket { right: -20px; transform: translateX(50%); width: 35px;}
  .group-ticket .list-ticket__item .item-inner .left .list-number { padding-left: 0; padding-right: 0; }
  .group-ticket .list-ticket__item .item-inner .left { padding-left: 6px; }
  .group-ticket .list-ticket__item .item-inner .left .info { margin-bottom: 30px; }
  .lotto-play .title { font-size: 24px; }
  .group-ticket .list-ticket__item .item-inner .right .right-b { font-size: 16px; }
  .group-ticket .list-ticket__item .item-inner .right { width: 30px; }
  .group-ticket .list-ticket__item .item-inner .right .right-b { height: 30px; }
  .group-ticket .list-ticket__item .item-inner .right .right-t { font-size: 16px; }
  .group-ticket .list-ticket__item .item-inner .left .info .info-r .logo { max-width: 100px; margin-left: auto; }
  .group-ticket .list-ticket__item .item-inner .left .info .info-r .price { margin-right: 0; margin-top: 10px; }
  .group-ticket .list-ticket__item .item-inner .left .info .info-l .title-ticket { font-size: 10px; }
  .group-ticket .list-ticket__item .item-inner .left .info .info-l .type img { height: 18px; }
  .list-ball-buy__item .ball { width: 45px; }
  .list-ball-buy__item .count { font-size: 20px; }
  .lotto-play__inner-right .info .date { font-size: 16px; }

  /*Payment*/
  .transfer-address .title { font-size: 24px; }
  .transfer-address .des { font-size: 14px; }
  .transfer-address__info-left .list-tab__item { margin-bottom: 20px; margin-right: 10px;}
  .transfer-address__info-left .list-tab__item a { font-size: 14px; }
  .transfer-address__info-left .list-tab__item a .wrap-img { width: 35px; margin-right: 10px; }
  .transfer-address__info-right .list-content__item-top ul li { font-size: 14px; }
  .transfer-address__info-right .list-content__item-top ul li { padding-left: 15px; }
  .transfer-address__info-right .list-content__item-bottom { font-size: 13px; }


  /*My-ticket*/
  .myticket .title { font-size: 24px; margin-bottom: 15px; }
  .myticket .des { font-size: 14px; }
  .myticket__inner-left .list-ticket__info { font-size: 14px; }


  /*Affiliate*/
  .affiliate-program__inner-right { width: 100%; position: relative; z-index: 2;}
  .affiliate-program__inner-left { width: 100%; position: absolute; top: 0; left: 0; text-align: center; opacity: 0.4; }
  .affiliate-program__inner-right .des { font-size: 14px; }
  .affiliate-program__inner-right ul li img { width: 20px; }
  .how-work__inner-left ul.list-step li.list-step__item { margin-bottom: 20px; }
  .management__diagram .diagram-inner { width: 150px; }
  .management__diagram .diagram-main .diagram-inner .title { font-size: 20px; }
  .management__diagram .diagram-inner .title { font-size: 14px; }

  /*Profit*/
  .percent-profit .des { font-size: 14px;  }
  .percent-profit .group-chart { margin-top: 20px; }
  .percent-profit .group-chart .info { font-size: 14px; }

  /*Token*/
  .token { padding-bottom: 30px; }
  .token__inner-left { width: 100%; padding-right: unset; margin-bottom: 30px;}
  .token__inner-right { width: 100%; }
  .token__inner-left .list-intro { font-size: 14px; margin-top: 20px; }
  .token__inner-left .token-info .top { font-size: 24px; margin-bottom: 35px;}
  .token__inner-left .token-info .bottom .sub-b { font-size: 18px; }
  .token__inner-left .token-info .bottom .slider-range__input[type='range'] { max-width: 600px; }
  .token__inner-left .token-info .change-unit { font-size: 24px; }
  .token__inner-right .des { font-size: 14px; margin-top: 30px; }
  .token__inner-left .list-intro__item { margin-bottom: 10px; }

}


@media screen and (max-width: 991px){ /* 768 */ 

	.container { max-width: 720px; }
  h1.title { margin-bottom: 10px; padding-bottom: 10px; }

  /*Header*/
  .header { padding: 19px 15px; }

	/*Menu*/
	.navbar-nav { display: none; }
	.mobile-menu.open .mobile-menu__box { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
	.mobile-menu { pointer-events: inherit; }
  .mobile-menu__overlay { position: fixed; z-index: 998; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.7); visibility: hidden; opacity: 0; -webkit-transition: all ease .4s; -o-transition: all ease .4s; transition: all ease .4s; }
  .mobile-menu.open .mobile-menu__overlay { opacity: 1; visibility: visible; }
  .mobile-menu__inner { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow: auto; position: relative; background: #121314}
  .mobile-menu__inner .logo-main { border-bottom: 1px solid #fff; }
  .mobile-menu__inner .logo { display: block; text-align: center; padding: 50px 10px; margin: auto; max-width: 70%; }
  .mobile-menu__inner .navbar-nav { display: block; padding-right: 0; padding-left: 0;}
  .mobile-menu__inner .navbar-nav .nav-item { padding: 10px; border-bottom: 1px solid #fff;}
  .mobile-menu__inner .navbar-nav .nav-item.active {  position: relative; background-color: #fff;}
  .mobile-menu__inner .navbar-nav .nav-item.active .nav-link { position: relative; color: #d53138; }
  .mobile-menu__inner .navbar-nav .nav-item.active:before { position: absolute; top: 0; left: 0; content: ''; width: 4px; bottom: 0px; }
  .mobile-menu__inner .navbar-nav .nav-item .nav-link { padding: 10px 20px; text-transform: uppercase; font-weight: bold; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; align-items: center;}
  .mobile-menu__close-button { position: absolute; top: 0; right: 100%; width: 36px; height: 36px; line-height: 36px; font-size: 20px; text-align: center; opacity: 0; visibility: hidden; -webkit-transition: all ease .4s; -o-transition: all ease .4s; transition: all ease .4s; cursor: pointer; background-color: #d53138;}
  .mobile-menu.open .mobile-menu__close-button { opacity: 1; visibility: visible; } 
  .navbar-nav .dropdown-menu { top: 0!important; padding: 0;}

	.navbar-nav .nav-item .nav-link:before { content: none; }
  .navbar-toggler { display: block; position: absolute; top: 50%; right: calc( ( 100% - 690px) / 2); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); outline: none; width: 55px; height: 30px; padding: unset; z-index: 998;}
  .navbar-toggler .wrap-line { position: relative; overflow: hidden; display: block; width: 100%; height: 100%; }
  .navbar-toggler .wrap-line .line { -webkit-transition: all ease .4s; -o-transition: all ease .4s; transition: all ease .4s; position: absolute; left: 0; bottom: 0; height: 3px; background: #fff; display: block; }
  .navbar-toggler .wrap-line .line:nth-of-type(1) { top: 0; width: 100%; }
  .navbar-toggler .wrap-line .line:nth-of-type(2), .navbar-toggler .wrap-line .line:nth-of-type(3) { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 70%; margin-left: auto; }
  .navbar-toggler .wrap-line .line:nth-of-type(4) { bottom: 0px; width: 50%; margin-left: auto; }
  .navbar-toggler:not(.collapsed) .line:nth-of-type(1) { left: 50%; right: 50%; width: unset; }
  .navbar-toggler:not(.collapsed) .line:nth-of-type(2) { -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }
  .navbar-toggler:not(.collapsed) .line:nth-of-type(3) { -webkit-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }
  .navbar-toggler:not(.collapsed) .line:nth-of-type(4) { left: 63%; right: 37%; width: 0; }
	.header__inner .link-download { right: calc( ( 100% - 520px) / 2); }

  /*Footer*/
  .footer__inner-item:first-child { width: 50%; padding-right: 10px;}
  .footer__inner-item:nth-child(2) { width: 50%; }
  .footer__inner-item { margin-bottom: 10px; }
  .footer__inner-item:last-child { margin-bottom: 0; }
  .footer__inner { flex-wrap: wrap; }
  .footer__inner-left { width: 100%; }
  .footer__inner-right { display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 5px; width: 100%;}
  .footer { padding: 15px; }

  /*Page Maintenance*/
  .page_maintenance .wrap-img { top: 50%; left: 0; right: 0; transform: translateY(-50%); opacity: 0.3; background-size: cover;}
  .page_maintenance__inner { padding-top: 0; display: flex; align-items: center; justify-content: center;}
	

  /*HomePage*/
  .background-image__inner-top .top-l { width: 100%; padding-right: unset; }
  .background-image__inner-top .top-r { width: 100%; }
  .background-image__inner-top .top-r .wrap-img { opacity: 0.6; top: 0; transform: translateY(-50%); left: unset; right: unset;}
  .list-jackpost { margin-left: 0; margin-right: calc( 690px - 100vw); }
  .background-image__inner-top .top-l .des { margin-bottom: 10px; }

  /*TopPlayer*/
  .top-general__inner-right .list-table-info__item { width: 100%; margin-bottom: 70px; }

  /*Term*/
  .block-general { height: unset;}

  /*Roadmap*/
  .road-map__slider-item .inner .wrap-image { float: left; padding-right: 15px;}
  .road-map__slider-item .inner { display: block; }
  .road-map__slider-item .inner .wrap-info { padding-left: 0; }
  .road-map__slider-item .inner .wrap-image { width: 200px; }

  /*Play lotto page*/
  .lotto-play__inner-left { width: 100%; }
  .lotto-play__inner { flex-wrap: wrap; }
  .lotto-play .title { font-size: 20px; margin-bottom: 15px; }
  .lotto-play .des  { margin-bottom: 20px; }
  .lotto-play__inner-right { width: 100%; margin-top: 30px; }

  /*Payment*/
  .transfer-address__info-left { width: 100%; }
  .transfer-address__info-right { width: 100%; }
  .transfer-address__info { flex-wrap: wrap; }
  .transfer-address__info-left .list-tab { display: flex; }
  .transfer-address__info-left .list-tab__item { width: 33.33%; text-align: center; }
  .transfer-address__info-left .list-tab__item a { flex-direction: column; }
  .transfer-address__info-left .list-tab__item a .wrap-img { margin-right: unset; margin-bottom: 10px; }

  /*My tiket*/
  .myticket__inner-left {width: 100%; margin-bottom: 30px;}
  .myticket__inner-right { width: 100%;}
  .form__check-ticket { max-width: 450px; }
  .myticket__inner-left .list-ticket__info { margin-top: 25px; }

  /*Affiliate*/
  .how-work__inner-left { width: 100%; padding-right: unset; }
  .how-work__inner-right { width: 100%; }
  .management__inner h2.title { margin-bottom: 30px; }
  .management__diagram .diagram-main .diagram-inner .title { font-size: 14px; }
  .management__diagram .diagram-main .diagram-inner { width: 200px; }
  .management__diagram .diagram-inner { width: 120px; }
  .management__diagram .diagram.diagram-3 .info, .management__diagram .diagram.diagram-4 .info { width: 100px; font-size: 12px;}
  .management__diagram-inner { padding-top: 120px; padding-bottom: 120px; }
  .management__diagram .diagram.diagram-2 .info, .management__diagram .diagram.diagram-1 .info { width: 120px; font-size: 12px;}



  /*Profit*/
  #chart-container-left, #chart-container-right { width: 350px!important; height: 170px!important  }
  .percent-profit .group-chart .info { font-size: 13px; margin-top: 10px; max-width: 350px; }
  

  /*Token*/
  .token__inner-left .token-info .top { font-size: 20px; }
  .token__inner-left .token-info .bottom .sub-b { font-size: 16px; }

}


@media screen and (max-width: 767px){ /* 640 */
	
	.container { max-width: 100%; }
	.navbar-toggler { right: 15px; }

  .header { padding: 15px; }
  .header__inner .logo { width: 130px; }

  /*Footer*/
  .footer__inner-left { width: 100%; }
  .footer__inner { flex-wrap: wrap; }
  .footer__inner-right { display: flex; justify-content: space-between; width: 100%; margin-top: 10px; }
  .footer__inner-item:first-child { width: 50% }
  .footer__inner-item:nth-child(2) { width: 50% }


  /*Page Countdown*/
  .page_countdown__inner .coundown-timer { margin-top: 30px;  margin-bottom: 25px;}
  .page_countdown__inner .coundown-timer .single-counter span:first-of-type { font-size: 24px; width: 70px; height: 70px; }
  .page_countdown__inner .coundown-timer .single-counter { padding: 0 10px; }
  .page_countdown__inner .coundown-timer { margin-left: -20px; margin-right: -20px; }
  .page_countdown__inner .content .right .form__register { padding-left: unset; }


  /*HomePage*/
  .list-jackpost { margin-right: 0; }
  .background-image__inner-top { padding-bottom: 20px; }
  .group-ticket { margin-left: 0;}
  .group-ticket .button-arrowr-ticket { right: -15px; }
  .lotto-play { padding-top: 80px; }
  .lotto-play__inner-left { padding-top: 0; }
  .group-ticket .list-ticket__item .heading-group .name { font-size: 16px; }
  .group-ticket .list-ticket__item { padding: 0 4px; }

  /*Payment*/
  .transfer-address .title { font-size: 20px; }
  .transfer-address { padding-top: 80px; }

  /*Myticket*/
  .myticket .title { font-size: 20px; }
  .myticket { padding-top: 80px; }

  /*Affiliate*/
  .affiliate-program { padding: 80px 0; }
  .how-work__inner-left ul.list-step li.list-step__item .content ul { padding: 15px 10px; }
  .management__inner .content { font-size: 14px; }
  .management__inner h2.title { margin-bottom: 20px; }
  .management__diagram .diagram-inner .title { font-size: 12px; }
  .management__diagram .diagram-inner { padding: 10px 5px; }
  .management__diagram .diagram-main .diagram-inner { width: 150px; }
  .management__diagram .diagram-main .diagram-inner .title { font-size: 12px; }
  .management__diagram .diagram-inner { width: 100px; }
  .management__diagram-inner { padding-top: 100px; padding-bottom: 100px; }
  .management__diagram .diagram.diagram-2 .info, .management__diagram .diagram.diagram-1 .info { width: 100px;}

  /*Profit*/
  #chart-container-left, #chart-container-right { width: 300px!important; height: 150px!important; }
  .percent-profit .group-chart .info { max-width: 300px; }

  /*Token*/
  .token { padding-top: 80px; }
  .token__inner-left .token-info .top .total { margin-bottom: 10px; }
  .token__inner-left .token-info .top { font-size: 18px; margin-bottom: 25px; }
  .token__inner-left .token-info .change-unit { font-size: 22px; }
  .token__inner-left .token-info .bottom .slider-range__input[type='range']::-webkit-slider-runnable-track { height: 8px; }
}


@media screen and (max-width: 639px){ /* 540 */
  
  /*Footer*/
  .footer__inner-item:first-child { width: 100% }
  .footer__inner-item:nth-child(2) { width: 100% }
  .footer__inner-item .form__register { max-width: 300px; }
  .footer__inner-item .list-page { flex-wrap: wrap; justify-content: center; }
  .footer__inner-right { flex-wrap: wrap; }
  .footer__inner-item:last-child { margin-top: 0; }


  /*HomePage*/
  .background-image__inner { padding-top: 80px; }
  h1.title { font-size: 22px; }

  /*Term*/
  .block-general { padding-top: 80px;}

  /*Roadmap */
  .road-map { padding-top: 80px;}

  /*Howtouse*/
  .how-play { padding-top: 80px; }

  /*Payment*/

  /*Myticket*/
  .myticket__inner-right .list-ticket-play__item .ball .wrap-img:nth-child(2) { width: 35px; }
  .myticket__inner-right .list-ticket-play__item .ball .wrap-img:first-child { width: 42px; }
  .myticket__inner-right .list-ticket-play__item .ball { width: 88px; }
  .myticket__inner-right .list-ticket-play__item { padding: 5px 10px; }
  .myticket__inner-right .list-ticket-play__item .price-total { font-size: 14px; }
  .myticket__inner-right .list-ticket-play__item .info__number ul { font-size: 16px; }
  .myticket__inner-right .list-ticket-play { padding-right: 0; }
  

  /*Affiliate*/
  .management__diagram .diagram.diagram-3 .info {left: 0; height: 100%;}
  .management__diagram .diagram.diagram-3 .info .left { bottom: 100%; }
  .management__diagram .diagram.diagram-3 .info .right { top: 100%; }
  .management__diagram .diagram.diagram-4 .info { right: 0; height: 100%; }
  .management__diagram .diagram.diagram-4 .info .left { bottom: calc( 100% + 10px); }

  .how-work__inner-left ul.list-step li.list-step__item .content ul li span:first-of-type { min-width: 100px; }
  .how-work__inner-left ul.list-step li.list-step__item .content ul { font-size: 12px; }
  .how-work__inner-left ul.list-step li.list-step__item .number { width: 25px; height: 25px; font-size: 16px; margin-right: 10px;}
	
  /*Profit*/
  .percent-profit .group-chart__left { width: 100%; margin-bottom: 40px;}
  .percent-profit .group-chart__right { width: 100%; }
  #chart-container-left, #chart-container-right { margin: auto; }
  .percent-profit .group-chart .info { margin: auto; margin-top: 10px; }
  .percent-profit { padding-top: 80px; }

  /*Token*/
  .token__inner-right .group-chart__item { width: 100%; margin-bottom: 30px; }
  .token__inner-left .group-chart__item { width: 100%; }

}

@media screen and (max-width: 539px){ /* 450 */

  /*HomePage*/

  /*Payment*/
  .transfer-address__info-left .list-tab__item { width: 100%; }
  .transfer-address__info-left .list-tab { flex-wrap: wrap; }
  .transfer-address__info-left .list-tab__item a { flex-direction: row; }
  .myticket__inner-right .list-ticket-play__item .info { width: calc( 100% -  90px); }
	.myticket__inner-right .list-ticket-play__item .price-total { width: 100%; flex-basis: unset; padding-left: 113px; margin-top: 10px; }

   /*Affiliate*/
  .management__diagram .diagram-main .diagram-inner { width: 120px; }

  /*Token*/
  .token__inner-left .token-info .top { font-size: 16px; }
  .token__inner-left .token-info { margin-top: 30px; }
}


@media screen and (max-width: 439px){ /* 320 */

	
}


@media screen and (max-width: 374px){ /* iphone X */


}






