#list-product-page-tmpl .card-img-top {
    width: 100%;
    min-height: 230px;
    max-height: 230px;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#list-product-page-tmpl .cs-webnair-card {
    margin: 6px 0 15px 0;
}
#list-product-page-tmpl .cs-price-card-content{
    padding: 10px 10px 30px;
}
