.w-xxl-275px {
    width: 300px !important;
}

.text-muted1 {
    color: #3F4254;
}

.box__contacts-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box__contacts {
    overflow: unset !important;
}

.row {
    margin: 0 !important;
}

.card-header {
    padding: 0 !important;
}

.card.card-custom>.card-header {
    min-height: 60px;
}

.scroll-pull-heigt {
    height: 320px !important;
}

.box-user-contacts {
    width: 205px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.compact_content {
    width: 450px;
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_length {
    float: right !important;
}

.custom-dropdown-home {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: none !important;
}

.custom-box-chat {
    margin-bottom: 30px !important;
    /* background-color: #33333314; */
    border: 1px solid rgb(188, 198, 208);
    margin: 10px;
}

.custom-box-chat-active {
    border-color: rgb(0, 122, 255) !important;
}

.box-messenger {
    border: 1px solid rgb(188, 198, 208);
    margin: 20px 50px;
    border-radius: 8px;
}

.box-messenger__header {
    background: rgb(237, 240, 242);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

.box-messenger__header-rep {
    background: #7e8e99 !important;
    flex-direction: row-reverse;
}

.box-messenger__img {
    max-width: 400px;
    max-height: 200px;
}


/* For other boilerplate styles, see: /docs/general-configuration-guide/boilerplate-content-css/ */
/*
* For rendering images inserted using the image plugin.
* Includes image captions using the HTML5 figure element.
*/

figure.image {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 2px 0 1px;
    background: #f5f2f0;
}

figure.align-left {
    float: left;
}

figure.align-right {
    float: right;
}

figure.image img {
    margin: 8px 8px 0 8px;
}

figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
}


/*
   Alignment using classes rather than inline styles
   check out the "formats" option
  */

img.align-left {
    float: left;
}

img.align-right {
    float: right;
}

/* Basic styles for Table of Contents plugin (toc) */
.mce-toc {
    border: 1px solid gray;
}

.mce-toc h2 {
    margin: 4px;
}

.mce-toc li {
    list-style-type: none;
}

.note-frame {
    margin: 20px 0;
}

.custom-box-messenger {
    max-height: 600px !important;
    overflow: auto;
}
